name: Scrape trending (Weekly)
on:
  # Cron job
  schedule:
    # 毎週月曜日16:00 UTC (日本時間25:00) に実行
    - cron: "0 16 * * 1" # UTC

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      run_scrape_github_trending:
        description: "run scrape_github_trending"
        type: boolean
        default: true
      run_filter_new_arrivals:
        description: "run filter_new_arrivals"
        type: boolean
        default: true
      run_export_unique_urls:
        description: "run export_unique_urls"
        type: boolean
        default: true

jobs:
  scrape_github_trending:
    if: |
      ( github.event_name != 'workflow_dispatch' ) ||
      ( github.event_name == 'workflow_dispatch' && fromJson(github.event.inputs.run_scrape_github_trending || 'true') )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout github-trending-feeds
        uses: actions/checkout@v6
        with:
          path: github-trending-feeds
      - name: Checkout github-trending-feeds-data
        uses: actions/checkout@v6
        with:
          repository: aazw/github-trending-feeds-data
          token: ${{ secrets.TOKEN_TO_PUSH_TO_GITHUB_TRENDING_FEEDS_DATA }}
          path: github-trending-feeds-data
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: github-trending-feeds
      - name: Install packages
        working-directory: github-trending-feeds
        run: uv sync --link-mode=copy --frozen
      - name: Scrape trending
        working-directory: github-trending-feeds
        run: ./scripts/scrape_trending_weekly.sh
      - name: Copy atoms with date
        working-directory: github-trending-feeds
        run: |
          d=$(date -I)

          for atom in $(ls ./docs/feeds/*/weekly.atom); do
            mkdir -p "$(dirname $atom)/weekly"
            cp "${atom}" "$(dirname $atom)/weekly/weekly-${d}.atom"
          done
      - name: Copy to data repo
        run: cp -r github-trending-feeds/docs/feeds/* github-trending-feeds-data/docs/feeds/
      - name: Create new commit
        working-directory: github-trending-feeds-data
        run: |
          git config user.name  github-actions
          git config user.email github-actions@github.com
          git add ./docs/feeds/
          git commit -m "add/update the file about weekly trending of github at $(date '+%Y-%m-%dT%H:%M:%S%z')"
          git push

  filter_new_arrivals:
    runs-on: ubuntu-latest
    needs:
      - scrape_github_trending
    if: |
      always() &&
      needs.scrape_github_trending.result != 'failure' &&
      needs.scrape_github_trending.result != 'cancelled' &&
      (
        ( github.event_name != 'workflow_dispatch' ) ||
        ( github.event_name == 'workflow_dispatch' && fromJson(github.event.inputs.run_filter_new_arrivals || 'true') )
      )
    steps:
      - name: Checkout github-trending-feeds
        uses: actions/checkout@v6
        with:
          path: github-trending-feeds
      - name: Checkout github-trending-feeds-data
        uses: actions/checkout@v6
        with:
          repository: aazw/github-trending-feeds-data
          token: ${{ secrets.TOKEN_TO_PUSH_TO_GITHUB_TRENDING_FEEDS_DATA }}
          path: github-trending-feeds-data
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: github-trending-feeds
      - name: Install packages
        working-directory: github-trending-feeds
        run: uv sync --link-mode=copy --frozen
      - name: Create urls-weekly.txt if not exists
        working-directory: github-trending-feeds-data
        run: |
          if [ ! -f urls-weekly.txt ]; then
            touch urls-weekly.txt
          fi
      - name: Extract new arrivals
        working-directory: github-trending-feeds
        run: |
          uv run src/filter_new_arrivals.py \
            --dir ../github-trending-feeds-data/docs/feeds \
            --period weekly \
            --urls ../github-trending-feeds-data/urls-weekly.txt \
            --format atom \
            --output ../github-trending-feeds-data/docs/new-arrivals/weekly.atom
      - name: Copy atom with date
        working-directory: github-trending-feeds-data
        run: |
          d=$(date -I)

          mkdir -p "docs/new-arrivals/weekly"
          cp docs/new-arrivals/weekly.atom docs/new-arrivals/weekly/weekly-${d}.atom
      - name: Create new commit
        working-directory: github-trending-feeds-data
        run: |
          git config user.name  github-actions
          git config user.email github-actions@github.com
          git pull

          git add docs/new-arrivals/weekly.atom
          git add docs/new-arrivals/weekly/

          # 変更があるときだけ add/commit/push
          if ! git diff --quiet --cached ; then
            git commit -m "add/update the file about weekly trending of github at $(date '+%Y-%m-%dT%H:%M:%S%z')"
            git push
          fi

  export_unique_urls:
    runs-on: ubuntu-latest
    needs:
      - filter_new_arrivals
    if: |
      always() &&
      needs.filter_new_arrivals.result != 'failure' &&
      needs.filter_new_arrivals.result != 'cancelled' &&
      (
        ( github.event_name != 'workflow_dispatch' ) ||
        ( github.event_name == 'workflow_dispatch' && fromJson(github.event.inputs.run_export_unique_urls || 'true') )
      )
    steps:
      - name: Checkout github-trending-feeds
        uses: actions/checkout@v6
        with:
          path: github-trending-feeds
      - name: Checkout github-trending-feeds-data
        uses: actions/checkout@v6
        with:
          repository: aazw/github-trending-feeds-data
          token: ${{ secrets.TOKEN_TO_PUSH_TO_GITHUB_TRENDING_FEEDS_DATA }}
          path: github-trending-feeds-data
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: github-trending-feeds
      - name: Install packages
        working-directory: github-trending-feeds
        run: uv sync --link-mode=copy --frozen
      - name: Update unique links
        working-directory: github-trending-feeds
        run: |
          uv run src/export_unique_urls.py \
            --dir ../github-trending-feeds-data/docs/feeds \
            --output ../github-trending-feeds-data/urls-weekly.txt \
            --pattern "weekly.atom" \
            --incremental
      - name: Create new commit
        working-directory: github-trending-feeds-data
        run: |-
          git config user.name  github-actions
          git config user.email github-actions@github.com
          git pull

          git add urls-weekly.txt

          # 変更があるときだけ add/commit/push
          if ! git diff --quiet --cached ; then
            git commit -m "add/update the file about weekly trending of github at $(date '+%Y-%m-%dT%H:%M:%S%z')"
            git push
          fi
